<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Payment Form</title>
    <style>
        body,
        html {
            height: 100%;
            margin: 0;
            font-family: Arial, sans-serif;
            background-color: #f0f2f5;
        }

        .centerForm {
            display: flex;
            justify-content: center;
            align-items: center;
            height: 100%;
        }

        table {
            width: 100%;
            max-width: 600px;
            background-color: #fff;
            padding: 20px;
            border-radius: 10px;
            box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
            border-collapse: separate;
            border-spacing: 10px;
        }

        input[type="text"],
        input[type=""] {
            width: calc(100% - 22px);
            padding: 10px;
            margin: 5px 0;
            box-sizing: border-box;
            border: 1px solid #ccc;
            border-radius: 5px;
        }

        input[type="submit"] {
            width: 100%;
            padding: 10px;
            background-color: #4CAF50;
            color: white;
            border: none;
            border-radius: 5px;
            cursor: pointer;
            font-size: 16px;
        }

        input[type="submit"]:hover {
            background-color: #45a049;
        }

        .hideFromScreet {
            display: none;
        }

        .unselectable-input {
            background-color: #f0f0f0;
            border: 1px solid #ccc;
            color: #333;
        }

        .unselectable-input {
            pointer-events: none;
            background-color: #f0f0f0;
            /* Light gray background */
            border: 1px solid #ccc;
            /* Gray border */
            color: #333;
            /* Darker text color */
        }
        p{
                width: calc(100% - 22px);
            padding: 10px;
            margin: 5px 0;
            box-sizing: border-box;
            border: 1px solid #ccc;
            border-radius: 5px;
        }
    </style>
</head>

<body>
    <div class="centerForm">
        <form method="POST" name="customerData" action="/ccavRequestHandler">
            <table>
                <tr class="hideFromScreet">
                    <td colspan="2">Compulsory information</td>
                </tr>
                <tr class="hideFromScreet">
                    <td>Merchant Id</td>
                    <td><input type="" name="merchant_id" value="<%= data.merchant_id %>" /></td>
                </tr>
                <tr>
                    <td>Order Id</td>
                    <td><input type="text" readonly class="unselectable-input" name="order_id"
                            value="<%= data.order_id %>" /></td>
                </tr>
                <tr class="hideFromScreet">
                    <td>Redirect URL</td>
                    <td><input type="" name="redirect_url" value="<%= data.redirect_url %>" /></td>
                </tr>
                <tr class="hideFromScreet">
                    <td>Cancel URL</td>
                    <td><input type="" name="cancel_url" value="<%= data.cancel_url %>" /></td>
                </tr>
                <tr class="hideFromScreet">
                    <td>Language</td>
                    <td><input type="" name="language" value="<%= data.language %>" /></td>
                </tr>
                <tr class="hideFromScreet">
                    <td colspan="2"></td>
                </tr>
                <tr>
                    <td>Full Name</td>
                    <td><input type="text" name="billing_name" value="<%= data.billing_name %>" /></td>
                </tr>
                <tr class="hideFromScreet">
                    <td>Billing Address:</td>
                    <td><input type="" name="billing_address" value="<%= data.billing_address %>" /></td>
                </tr>
                <tr class="hideFromScreet">
                    <td>Billing City:</td>
                    <td><input type="" name="billing_city" value="<%= data.billing_city %>" /></td>
                </tr>
                <tr class="hideFromScreet">
                    <td>Billing State:</td>
                    <td><input type="" name="billing_state" value="<%= data.billing_state %>" /></td>
                </tr>
                <tr class="hideFromScreet">
                    <td>Billing Zip:</td>
                    <td><input type="" name="billing_zip" value="<%= data.billing_zip %>" /></td>
                </tr>
                <tr class="hideFromScreet">
                    <td>Billing Country:</td>
                    <td><input type="" name="billing_country" value="<%= data.billing_country %>" /></td>
                </tr>
                <tr>
                    <td>Mobile No:</td>
                    <td><input type="" name="billing_tel" value="<%= data.billing_tel %>" /></td>
                </tr>
                <tr>
                    <td>Email:</td>
                    <td><input type="text" name="billing_email" value="<%= data.billing_email %>" /></td>
                </tr>
                <tr>
                    <td>Amount</td>
                    <td><input class="unselectable-input" type="" name="amount" readonly value="<%= data.amount %>" />
                    </td>
                </tr>
                <tr>
                    <td>Currency</td>
                    <td><input type="" class="unselectable-input" readonly name="currency"
                            value="<%= data.currency %>" />
                    </td>
                </tr>
                <tr>
                    <td>USD</td>
                    <td>
                        <p class="unselectable-input" type="" name="" readonly ><%= data.amount *2.60 %> (APPROX)</p>
                    </td>
                </tr>
                <tr class="hideFromScreet">
                    <td colspan="2">Shipping information(optional):</td>
                </tr>
                <tr class="hideFromScreet">
                    <td>Shipping Name</td>
                    <td><input type="" name="delivery_name" value="<%= data.delivery_name %>" /></td>
                </tr>
                <tr class="hideFromScreet">
                    <td>Shipping Address:</td>
                    <td><input type="" name="delivery_address" value="<%= data.delivery_address %>" /></td>
                </tr>
                <tr class="hideFromScreet">
                    <td>Shipping City:</td>
                    <td><input type="" name="delivery_city" value="<%= data.delivery_city %>" /></td>
                </tr>
                <tr class="hideFromScreet">
                    <td>Shipping State:</td>
                    <td><input type="" name="delivery_state" value="<%= data.delivery_state %>" /></td>
                </tr>
                <tr class="hideFromScreet">
                    <td>Shipping Zip:</td>
                    <td><input type="" name="delivery_zip" value="<%= data.delivery_zip %>" /></td>
                </tr>
                <tr class="hideFromScreet">
                    <td>Shipping Country:</td>
                    <td><input type="" name="delivery_country" value="<%= data.delivery_country %>" /></td>
                </tr>
                <tr class="hideFromScreet">
                    <td>Shipping Tel:</td>
                    <td><input type="" name="delivery_tel" value="<%= data.delivery_tel %>" /></td>
                </tr>
                <tr class="hideFromScreet">
                    <td>Merchant Param1</td>
                    <td><input type="" name="merchant_param1" value="<%= data.merchant_param1 %>" /></td>
                </tr>
                <tr class="hideFromScreet">
                    <td>Merchant Param2</td>
                    <td><input type="" name="merchant_param2" value="<%= data.merchant_param2 %>" /></td>
                </tr>
                <tr class="hideFromScreet">
                    <td>Merchant Param3</td>
                    <td><input type="" name="merchant_param3" value="<%= data.merchant_param3 %>" /></td>
                </tr>
                <tr class="hideFromScreet">
                    <td>Merchant Param4</td>
                    <td><input type="" name="merchant_param4" value="<%= data.merchant_param4 %>" /></td>
                </tr>
                <tr class="hideFromScreet">
                    <td>Merchant Param5</td>
                    <td><input type="" name="merchant_param5" value="<%= data.merchant_param5 %>" /></td>
                </tr>
                <tr class="hideFromScreet">
                    <td>Promo Code:</td>
                    <td><input type="" name="promo_code" value="<%= data.promo_code %>" /></td>
                </tr>
                <tr class="hideFromScreet">
                    <td>Customer Id:</td>
                    <td><input type="text" name="customer_identifier" value="<%= data.customer_identifier %>" /></td>
                </tr>
                <tr>
                    <td colspan="2">
                        <input type="submit" value="Confirm & Pay" />
                    </td>
                </tr>
            </table>
        </form>
    </div>
</body>

</html>